.accordion-1{
  .accordion{
    margin-top: 80px;
    margin-bottom: 100px;
    .card{
      margin-top: 0;
      box-shadow: none;
      border-bottom: 1px solid #c29a2c !important;
      &:last-child{
        border-bottom: none !important;
        color: #b9b9b9;
      }
      .card-header{
        padding: 10px 15px;
        .btn[aria-expanded="true"]{
          .oikos-icons{
            transform: rotate(180deg);
          }
        }

        .oikos-icons{
          transition: 0.1s ease;
        }
      }

      .card-body{
        padding: 10px 30px 30px;
      }

      .btn.btn-link{
        color: rgba($white, 0.7);
      }
    }
  }
}
